<%- include('./generalLayout/forgetheader.ejs') %>

    
<div class="container">
    <div class="forgot-password-container">
      <h2>Forgot Password</h2>
      
    
      <form id="forgotPasswordForm" method="post">
        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="submit" value="Reset Password">
      </form>
      <%
          if(message !== undefined){
              %>
              <p id="para"><%= message %></p>
              <%
          }
          %>
    </div>
</div>

<script>
  const para = document.getElementById('para')
  setTimeout(() => {
    para.innerHTML =" "
  }, 5000);
</script>


<%- include('./generalLayout/forgetfooter.ejs') %>