<%- include('./generalLayout/loginheader.ejs') %>

    <div class="form-box">
        <h1>Login</h1>
        <form method="post">
            <input type="number" name="rollno" placeholder="RollNo" id="toggel" >
            <input type="password" name="password" placeholder="password" id="password">
            <select name="type" id="type">
                <option value="isStudent">Student</option>
                <option value="isTeacher">Teacher</option>
                <option value="isAdmin">Admin</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        <a href="/forget-Password">ForgetPassword!!!</a>
        <%
          if(message !== undefined){
              %>
              <p id="para" style="color: red; font-weight: 800;"><%= message %></p>
              <%
          }
          %>
    </div>


<script>
const para = document.getElementById('para')
setTimeout(() => {
    para.innerText =" "
  }, 1000);
</script>

    

<%- include('./generalLayout/loginfooter.ejs') %>