<%- include('./generalLayout/forgetheader.ejs') %>

    
<div class="container">
    <div class="forgot-password-container">
      <h2>Forgot Password</h2>
      
    
      <form id="forgotPasswordForm" method="post">
        <input type="hidden" name="userid"  value="<%= userid %>" >
        <input type="password" name="password" placeholder="Enter password" required>
        <input type="submit" value="Reset Password">
      </form>
      <%
          if(message !== undefined){
              %>
              <p id="para" style="color: red; font-weight: 800;" ><%= message %></p>
              <%
          }
          %>
    </div>
</div>

<script>
  const para = document.getElementById('para')
  setTimeout(() => {
    para.innerHTML =" "
  }, 1000);
</script>


<%- include('./generalLayout/forgetfooter.ejs') %>